[Unit]

Description=Git repos watcher

After=network.target


[Service]

ExecStart=/bin/bash /opt/vestige-tools/services/git-repo-watcher/init.sh

Restart=always

RestartSec=20


[Install]

WantedBy=multi-user.target